# dependencies
node_modules

# env files
.env
.env.*

# build output
dist
build

# logs
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

/src/generated/prisma

/src/generated/prisma

/generated/prisma
