version: '3.8'

services:
    db:
        image: postgres:16
        container_name: log-analyzer-db
        restart: always
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: ganesh1325
            POSTGRES_DB: log_analyzer
        ports:
            - "5432:5432"
        volumes:
            - postgres_data:/var/lib/postgresql/data


volumes:
    postgres_data: